.estudios {
    width: 100%;
    height: 400px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.estudios__educacion {
    width: 55%;
    padding-top: 30px;
}

.estudios__educacion__title {
    font-family: "brasika", sans-serif;
    font-size: 60px;
    color: var(--yellow-color);
    text-align: left;
    padding-left: 145px;
}

.estudios__educacion__list {
    width: 100%;
}

.estudios__educacion__list-item {
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--text-color);
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    padding-left: 30px;
    overflow-x: hidden;
}

.estudios__educacion__list-star {
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

@media (max-width: 1000px)  {

    .estudios {
    height: auto;
    padding-bottom: 40px;
    flex-direction: column;

}

.estudios__educacion {
    margin: auto;
    margin-bottom: 30px;
}

 .estudios__educacion__title {
    text-align: center;
    padding: 0;
 }

}

@media (max-width: 768px) {
    .estudios__educacion__title {
    font-size: 48px;
 }

 .estudios__educacion__list-item {
    font-size: 16px;
    margin-bottom: 20px;
 }

 .estudios__educacion__list-star {
    width: 30px;
    height: 30px;
    margin-right: 14px;
}
}