.tecnologias {
    width: auto;
    text-align: center;
    margin-top: 140px;
    margin-right: 40px;
}

.tecnologias__title {
    font-family: "brasika", sans-serif;
    font-size: 60px;
    color: var(--yellow-color);
    margin: auto;
}

.tecnologia_continer_section{
    font-family: "Barlow", sans-serif;
    color: var(--text-color);
    font-weight: 800;
}

.tecnologia_img {
    width: 70px;
}

.tecnologias_continer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 1000px)  {
    .tecnologias {
        width: 100%;
    margin-top: 40px;
    margin: auto;

}
}

@media (max-width: 768px) {
    .tecnologias__title  {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .tecnologia_img {
    width: 40px;
    }

    .tecnologias_continer {
    gap: 0px;
    justify-content: space-around;
}
}

